# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo

# Environnements virtuels
venv/
.venv/
env/
.env/

# ============================================================
# VS Code
# ============================================================

.vscode/

# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/

# ============================================================
# Système
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# Fichiers temporaires
# ============================================================

*.log
*.tmp

# ============================================================
# Données / modèles
# ============================================================

*.csv
*.pkl
*.joblib

# ============================================================
# Secrets
# ============================================================

.env
*.env
